<form>
  <div class="form-group">
    <label for="exampleInputEmail1">邮箱地址</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入您常用的邮箱地址">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">登录密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入您用于登录的密码">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">确认登录密码</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="请再次输入登录密码以确认">
  </div>
  <div class="form-group">
    <label for="vcode">验证码</label>
    <div class="g-cf">
      <div class="g-fl g-pw70">
        <input type="text" class="form-control" id="vcode" placeholder="验证码">
      </div>
      <a href="javascript:;" title="点击换一个" class="g-fr reg-vcode"><img src="/vcode"></a>
    </div>
  </div>
  <!-- <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div> -->
  <!-- <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div> -->
  <button type="submit" class="btn btn-primary">注册</button>
</form>